#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.niezaznaczalny {
    user-select: none; /* Dla przeglądarek współczesnych */
    -webkit-user-select: none; /* Dla Safari */
    -moz-user-select: none; /* Dla Firefox */
    -ms-user-select: none; /* Dla Internet Explorer */
}